---
layout: base
---
{% layout 'layouts/archive' %}

{% block main %}
    <div class="mb-4">
        {% for category in categories %}
        <a href="" class="inline-block px-4 py-1 mr-2 text-white uppercase bg-indigo-400 rounded-lg">{{ category }}</a>
        {% endfor %}
    </div>
    <h1 class="mb-3 text-5xl font-extrabold">{{ title }}</h1>
    <p class="mb-16">Author: {{ author }} | Published at: {{ date | date: "%b %d, %y"}}</p>
    <div class="mb-5 prose text-gray-800 max-w-none">{{ content }}</div>
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://https-relaxed-brattain-b82771-netlify-app.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}

{% block side %}
    <div class="p-4 border rounded-lg">
        <h1 class="mb-4 text-2xl font-bold">About Author</h1>
        <p><span class="font-semibold capitalize">{{ author }}</span> Joined and contributed.</p>
    </div>
{% endblock %}