---
layout: "base"
pagination: 
  data: collections.blog
  size: 2
  reverse: true
---
{% layout 'layouts/archive' %}
{% block main %}

    {% for post in pagination.items %}
    <div class="mb-8 overflow-hidden border rounded-lg">
        <img src="/{{ post.data.featured }}?nf_resize=smartcrop&w=800&h=300" class="w-[800px] h-[300px] object-cover" alt="">
        <div class="p-4">
            <h1 class="my-3 text-2xl font-bold">{{ post.data.title }}</h1>
            <p class="mb-3"><i class="fa fa-clock-o"></i> <span> {{ post.data.date | date: "%b %d, %y" }} | </span><span>By: {{ post.data.author }}</span></p>
            <p class="mb-4">{{ post.data.excerpt }}</p>
            <a class="inline-block px-3 py-1 text-green-500 border border-current" href="/blogs/{{ post.data.slug }}">Read more</a>
        </div>
    </div>
    {% endfor %}
    
    {% render "partials/widget-pagination-links" previous: pagination.href.previous, next: pagination.href.next %}
    
{% endblock %}


{% block side %}

    {% render "partials/widget-category" collections: collections %}

    {% assign bloglinksByMonth =  collections.blogsGroupedByMonth %}
    {% render "partials/widget-blogs-by-month" bloglinksByMonth: bloglinksByMonth %}

{% endblock %}