<div class="relative w-full">
    <div id="hero-slide">
        <div class="glide__bullets" data-glide-el="controls[nav]">
            {% for i in sliders %}
            <button class="glide__bullet" data-glide-dir="={{ forloop.index | minus: 1 }}"></button>
            {% endfor %}
        </div>
        <!-- <div class="glide__arrows" data-glide-el="controls">
            <button class="left-0 text-gray-800 glide__arrow" data-glide-dir="<"
                style="background-color: rgba(255, 255, 255, .25);  border: 0; border-radius: 0;"><i class="fa fa-arrow-circle-left"></i></button>
            <button class="right-0 text-gray-800 glide__arrow" data-glide-dir=">"
                style="background-color: rgba(255, 255, 255, .25); border: 0; border-radius: 0;"><i class="fa fa-arrow-circle-right"></i></button>
        </div> -->
        <div data-glide-el="track" class="glide__track">
            <div class="glide__slides">
                {% for slider in sliders %}
                <div class="glide__slide">
                    <div class="bg-center bg-cover" style="background-image: url({{ slider.image }}); height: 715px;">
                        <div class="container flex items-center h-full mx-auto">
                            <div class="md:w-1/2">
                                <div class="p-4 text-white">
                                    <h2 class="mb-6 text-3xl font-bold md:text-6xl">{{ slider.title }}</h2>
                                    <p class="text-2xl font-light">{{ slider.body }}</p>
                                    <div class="flex justify-center mt-6 space-x-3 md:justify-start">
                                        {% for link in slider.links %}
                                        <a href="{{ link.url }}" class="inline-block px-4 py-3 bg-yellow-600 rounded-md">{{ link.text }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>