<div class="py-16 bg-blue-400">
    <div class="container mx-auto">
        {% render 'partials/section-header',
         title: 'Clients Review',
         exerpt: 'Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.' %}
         
        <div class="px-4 mx-auto md:w-10/12">
            <div class="font-thin text-gray-500 glide font-roboto">
                <div class="glide__bullets" data-glide-el="controls[nav]" style="bottom: -16px;">
                    {% for ts in testimonials %}
                    <button class="glide__bullet" data-glide-dir="={{ forloop.index | minus: 1 }}"></button>
                    {% endfor %}
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow -left-12 glide__arrow_override" data-glide-dir="<"
                        ><i class="fa fa-arrow-circle-left"></i></button>
                <button class="glide__arrow -right-12 glide__arrow_override" data-glide-dir=">"
                        ><i class="fa fa-arrow-circle-right"></i></button>
                </div>
                <div data-glide-el="track" class="glide__track">
                    <div class="glide__slides">
                        {% for testimony in testimonials %}
                        <div class="glide__slide">
                            <div class="p-4 py-6 text-center bg-white rounded-md">
                                <p>{{ testimony.message }}</p>
                                <div class="mt-5">
                                    <div class="mb-4 text-center">
                                        <img class="inline-block w-16 h-16 rounded-full" src="{{ 'assets/img/client.jpg' | url }}" alt="client">
                                    </div>
                                    <div>
                                        <h4 class="text-xl">{{ testimony.name }}</h4>
                                        <span class="text-sm">{{ testimony.role }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>